<nav class="navbar navbar-expand-md">
    <a href="#" class="navbar-brand"><i class="material-icons dicon">
            enhanced_encryption</i>DocCare</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navcontent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse dcircle" id="navcontent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a routerLink="appointmentbook" class="nav-link">Book Appoinment</a>
            </li>
            <li class="nav-item">
                <a routerLink="appointmenthistory" class="nav-link">Booking History</a>
            </li>
            <li class="nav-item">
                <a routerLink="doctors" class="nav-link">Doctors</a>
            </li>
            <li class="nav-item">
                <a routerLink="patients" class="nav-link">Patients</a>
            </li>
            <li class="nav-item">
                <a routerLink="agents" class="nav-link">Agents</a>
            </li>
            <li class="nav-item">
                <a routerLink="login" class="nav-link">Log In</a>
            </li>
            <li class="nav-item">
                <a routerLink="signup" class="nav-link">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"><i class="material-icons">person</i>

                </a>
            </li>
            <li class="nav-item">
                <a href="#" (click)="onSignOut()" class="nav-link">Log Out</a>
            </li>
        </ul>
    </div>
</nav>