<div class="row justify-content-center mt-4">
    <div  class="col-12 col-md-6 col-lg-6">
        <div class="card">
            <a routerLink="admin">
                <div class="btn admin">Admin</div>
            </a>
            <a routerLink="doctor">
                <div class="btn doctor">Doctor</div>
            </a>
            <a routerLink="patient">
                <div class="btn patient">Patient</div>
            </a>
            <a routerLink="agent">
                <div class="btn agent">Agent</div>
            </a>
            
        </div>
    </div>
</div>